html{
    background-color:  #cccccc;
}
body{
  background-image: url("vignette.png");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size:cover; 
}

#allBookWrapper{
    background-image: url("vignette.png");
    background-color: #cccccc;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size:cover; 
}

.book{
    display: inline-block;
    width: 10%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    text-align: center;
    border-radius: 10px;
}

.bookText{
    font-size: 15px;
    display: inline-block;
    width:100%;
    background-color: #ebebeb;
    border-top-style: solid;
    border-width: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    border-radius:10px;
}

.bookImg{
    width:100%;
    height:30%;
    background-image: url("no_preview.png");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size:contain; 
    background-color:#ebebeb;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.book:hover{
    box-shadow: 0 4px 8px 0 rgba(14, 97, 175, 0.575), 0 6px 20px 0 rgba(14, 97, 175, 0.575);
}

.bookText p{
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

 /* The Modal (background) */
 .modal {
    display: none; /* Hidden by default */
    margin: 0 auto;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 
  
.pagination_link{
    text-decoration: none;
    display: block;
    border-radius: 20px;
    /* background-color: red; */
    background-color: rgba(30,30,30,.3);
    color: black;
}

.glider-container{
    display: block;
    text-align: center;
    overflow-x: hidden;
    width:40%;
}

.glider{
    text-align: center;
}

.search {
  width: 100%;
  padding-top: 50px;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 50px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

#searchWrapper{
  width: 30%;
  margin: 0 auto;
}

.glider-contain{
    width: 40%;
}

.glider.draggable{
    /* scrollbar-width: thin; */
    scrollbar-color: #34c3eb #03123d;
}


.modalBook{
  display: block;
  width: 20%;
  margin: 0 auto;
  margin-top: 10%;
  text-align: center;
  border-radius: 10px;
}

.modalBookText{
  font-size: 15px;
  display: inline-block;
  width:100%;
  background-color: #ebebeb;
  border-top-style: solid;
  border-width: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
  border-radius:10px;
}

.modalBookImg{
  width:100%;
  height:50%;
  background-image: url("no_preview.png");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size:contain; 
  background-color:#ebebeb;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}
