html{
    background-color:  #cccccc;
}

#allBookWrapper{
    background-image: url("vignette.png");
    background-color: #cccccc;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size:cover; 
}

.book{
    display: inline-block;
    width: 10%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    text-align: center;
    border-radius: 10px;
}
.bookText{
    font-size: 15px;
    display: inline-block;
    width:100%;
    background-color: #ebebeb;
    border-top-style: solid;
    border-width: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    border-radius:10px;
}

.bookImg{
    width:100%;
    height:30%;
    background-image: url("no_preview.png");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size:contain; 
    background-color:#ebebeb;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.book:hover{
    box-shadow: 0 4px 8px 0 rgba(14, 97, 175, 0.575), 0 6px 20px 0 rgba(14, 97, 175, 0.575);
}

.bookText p{
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pagination_link{
    text-decoration: none;
    display: block;
    border-radius: 20px;
    /* background-color: red; */
    background-color: rgba(30,30,30,.3);
    color: black;
}

.glider-container{
    display: block;
    text-align: center;
    overflow-x: hidden;
    width:40%;
}

.glider{
    text-align: center;
}

.glider-contain{
    width: 40%;
}

.glider.draggable{
    /* scrollbar-width: thin; */
    scrollbar-color: #34c3eb #03123d;
}